.gitbub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
    height:  auto;
    color: #330099;
    border-radius: 10px;
    box-shadow: 0 0 5px 3px lightgray;
}