.info{
    margin-bottom: 3em;
    border: 1px solid black;
    height: 180px;
    border-radius: 10px;
    box-shadow: 0 0 5px 3px lightgray;
    color: white;
    background: black;
}
.info h1{
    font-weight: 500;
    text-transform: capitalize;
    margin: 1em;

}
.info-link{
    text-decoration: none;
    border: 1px solid lightgray;
    padding: 5px;
    color: #eee;
    border-radius: 4px;


}